section.section-contact {
    font-family: $font-heading;

    p {
        padding-top: 20px;
        line-height: 24px;
        min-height: 135px;
    }

    label {
        display: block;
        padding: 5px 0px;
        i {
            width: 20px;
            height: 20px;
            color: $color-primary;
        }
    }

}