.link-sdk {
    text-align: center;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 40px 0px 60px 0px;
    margin-top: 40px;
    li {
        display: inline-block;
        padding-right: 10px;
    }   

    margin-bottom: 40px;
}